<html>
    <head>
        <title>Django Girls blog</title>
		<meta charset="utf-8" />
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Ilk Blogum</a></h2>
            <p>Cok heyecanliyim! Bu benim ilk blogum. Ne kadar zevkli bir ismis bilgisayarlarla ugrasmak. Artik bilgisayar basindan kalkmam. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Ikinci gonderim</a></h2>
            <p>Bir varmis bir yokmus, evvel zaman icinde, Ne kadar zevkli bir ismis bilgisayarlarla ugrasmak. Artik bilgisayar basindan kalkmam. kalbur saman icinde, develer tellal iken, pireler berber iken; ben annemin besigini tingir mingir sallar iken.</p>
        </div>
    </body>
</html>